[submodule "LLaVA-NeXT"]
	path = LLaVA-NeXT
	url = https://github.com/LLaVA-VL/LLaVA-NeXT
[submodule "LongVA"]
	path = LongVA
	url = https://github.com/EvolvingLMMs-Lab/LongVA.git

[submodule "VILA"]
	path = VILA
	url = https://github.com/NVlabs/VILA.git
