#!/bin/bash
#SBATCH --job-name=
#SBATCH --partition=
#SBATCH --gres=
#SBATCH --ntasks-per-node=
#SBATCH --cpus-per-task=
#SBATCH --mem-per-cpu=
#SBATCH --time=
#SBATCH --output=  # Save output in a file named with job ID
#SBATCH --error=    # Save error logs
#SBATCH --mail-type=BEGIN,END,FAIL         # Email on job end (optional)
#SBATCH --mail-user=  # Your email (optional)

# bash evaluate.sh --model all --task strokerehab_movements,strokerehab_primitives,strokerehab_describe
# Change to 3 GPUs for next one
# bash evaluate.sh --model internvl_2p5_78b --task strokerehab_movements,strokerehab_primitives

# Example usage:
# - `bash evaluate.sh --model llava_ov_0p5b --task strokerehab_primitives`
# - `bash evaluate.sh --model nvila_8b,nvila_15b --task strokerehab_movements`
# - `bash evaluate.sh --model small --task strokerehab_movements,strokerehab_primitives --num_processes 4`  # runs all small models
# - `bash evaluate.sh --model all --task strokerehab_movements,strokerehab_primitives`  # runs all models
# Script credits: https://github.com/vision-x-nyu/thinking-in-space/blob/main/evaluate_all_in_one.sh

############################################## ARGS ##############################################
export HF_HOME="/gpfs/data/schambralab/quantitativeRehabilitation/__lab_member_homes/victor/hf_home"
export HF_TOKEN="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"
wandb_entity="cvfm4rehab"  #"cvfm4rehab"  # leave empty if not using wandb
##################################################################################################


num_processes_pre=1
num_processes=1
available_models="bot_8f,\
bot_32f,\
qwen2_5_vl_7b,\
qwen2_5_vl_32b,\
qwen2_5_vl_72b,\
llava_ov_0p5b,\
llava_ov_7b,\
llava_ov_72b,\
llava_next_video_7b,\
llava_next_video_72b,\
internvl_2p5_2b,\
internvl_2p5_8b,\
internvl_2p5_38b,\
internvl_2p5_78b,\
longva_7b,\
nvila_8b,\
nvila_15b"
available_small_models="bot_8f,\
bot_32f,\
qwen2_5_vl_7b,\
llava_ov_0p5b,\
llava_ov_7b,\
llava_next_video_7b,\
internvl_2p5_2b,\
longva_7b,\
nvila_8b"
available_big_models="qwen2_5_vl_32b,\
qwen2_5_vl_72b,\
llava_ov_72b,\
llava_next_video_72b,\
internvl_2p5_8b,\
internvl_2p5_38b,\
nvila_15b,\
internvl_2p5_78b"
launcher=accelerate
log_path="./logs"


deactivate_all_conda_envs() {
  while [[ -n "$CONDA_DEFAULT_ENV" ]]; do
    echo "Deactivating conda environment: $CONDA_DEFAULT_ENV"
    conda deactivate
  done
}

source ~/.bashrc  # bashrc loads the following modules, uncomment if not
# module purge
# module load json-c/0.17
# module load slurm/current
# module load standard-tools/1.0
# module load default-environment
# module load gcc/11.2.0
# module load ffmpeg/3.4.2

cd "$(pwd)"
conda init  # in case


if [ -z "$CUDA_VISIBLE_DEVICES" ]; then
    gpu_count=$(nvidia-smi --query-gpu=index --format=csv,noheader | wc -l)
else
    IFS=',' read -r -a devices <<< "$CUDA_VISIBLE_DEVICES"
    gpu_count=${#devices[@]}
fi


while [[ $# -gt 0 ]]; do
    case "$1" in
    --num_processes)
        num_processes_pre="$2"
        shift 2
        ;;
    --model)
        IFS=',' read -r -a models <<<"$2"
        shift 2
        ;;
    --task)
        IFS=',' read -r -a tasks <<<"$2"
        shift 2
        ;;
    --limit)
        limit="$2"
        shift 2
        ;;
    --log_path)
        log_path="$2"
        shift 2
        ;;
    --model_args)
        user_provided_model_args="$2"
        shift 2
        ;;
    *)
        echo "Unknown argument: $1"
        exit 1
        ;;
    esac
done

if [ "$models" = "all" ]; then
    IFS=',' read -r -a models <<<"$available_models"
fi

if [ "$models" = "small" ]; then
    IFS=',' read -r -a models <<<"$available_small_models"
fi

if [ "$models" = "big" ]; then
    IFS=',' read -r -a models <<<"$available_big_models"
fi

time_str=""

for model in "${models[@]}"; do
    for task in "${tasks[@]}"; do
        echo "==================================================================="
        echo "Evaluating MODEL $model on TASK $task"
        echo "==================================================================="

        deactivate_all_conda_envs

        wandb_project=""
        case "$task" in
        "strokerehab_movements")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=dense,sampling_fps=1,overlap_frames_num=0"
            wandb_project="$task"
            ;;
        "strokerehab_primitives"*)
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=dense,sampling_fps=30,overlap_frames_num=0"
            wandb_project="$task"
            ;;
        "strokerehab_ia1_3_30")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=uniform"
            wandb_project="$task"
            ;;
        "strokerehab_ia1_31_33")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=dense,sampling_fps=30,overlap_frames_num=0"
            wandb_project="$task"
            ;;
        "strokerehab_ia2_3_30")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=uniform"
            wandb_project="$task"
            ;;
        "strokerehab_ia2_31_33")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=dense,sampling_fps=30,overlap_frames_num=0"
            wandb_project="$task"
            ;;
        "strokerehab_ia3_3_30")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=uniform"
            wandb_project="$task"
            ;;
        "strokerehab_describe")
            benchmark="$task"
            output_path="${log_path}/${task}"
            model_task_args=",sampling_strategy=uniform"
            wandb_project="$task"
            ;;
        *)
            echo "Unknown task: $task"
            exit -1
            ;;
        esac

        case "$model" in
        "gemini_1p5_flash")
            model_family="gemini_api"
            model_args="model_version=gemini-1.5-flash,modality=video"
            num_processes=1
            ;;
        "gemini_1p5_pro_002")
            model_family="gemini_api"
            model_args="model_version=gemini-1.5-pro,modality=video"
            num_processes=1
            ;;
        "gemini_2p0_flash_exp")
            model_family="gemini_api"
            model_args="model_version=gemini-2.0-flash-exp,modality=video"
            num_processes=1
            ;;
        "gpt_4o_2024_08_06_f16")
            model_family="gpt4v"
            model_args="model_version=gpt-4o-2024-08-06,modality=video,max_frames_num=16"
            num_processes=1
            ;;
        "qwen2_5_vl_7b")
            conda activate cvfm4rehab
            model_family="qwen2_5_vl"
            model_args="pretrained=Qwen/Qwen2.5-VL-7B-Instruct,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "qwen2_5_vl_32b")
            conda activate cvfm4rehab
            model_family="qwen2_5_vl"
            model_args="pretrained=Qwen/Qwen2.5-VL-32B-Instruct,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "qwen2_5_vl_72b")
            conda activate cvfm4rehab
            model_family="qwen2_5_vl"
            model_args="pretrained=Qwen/Qwen2.5-VL-72B-Instruct,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "llava_ov_0p5b")
            conda activate cvfm4rehab_llava
            model_family="llava_onevision"
            model_args="pretrained=lmms-lab/llava-onevision-qwen2-0.5b-ov,conv_template=qwen_1_5,model_name=llava_qwen,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "llava_ov_7b")
            conda activate cvfm4rehab_llava
            model_family="llava_onevision"
            model_args="pretrained=lmms-lab/llava-onevision-qwen2-7b-ov,conv_template=qwen_1_5,model_name=llava_qwen,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "llava_ov_72b")
            conda activate cvfm4rehab_llava
            model_family="llava_onevision"
            model_args="pretrained=lmms-lab/llava-onevision-qwen2-72b-ov-sft,conv_template=qwen_1_5,model_name=llava_qwen,max_frames_num=32,device_map=auto"
            num_processes=1
            ;;
        "llava_next_video_7b")
            conda activate cvfm4rehab_llava
            model_family="llava_vid"
            model_args="pretrained=lmms-lab/LLaVA-NeXT-Video-7B-Qwen2,video_decode_backend=decord,conv_template=qwen_1_5,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "llava_next_video_72b")
            conda activate cvfm4rehab_llava
            model_family="llava_vid"
            model_args="pretrained=lmms-lab/LLaVA-NeXT-Video-72B-Qwen2,video_decode_backend=decord,conv_template=qwen_1_5,max_frames_num=32,device_map=auto"
            num_processes=1
            ;;
        "internvl_2p5_2b")
            conda activate cvfm4rehab_llava
            model_family="internvl2"
            model_args="pretrained=OpenGVLab/InternVL2_5-2B,modality=video,max_frames_num=8"
            num_processes=$num_processes_pre
            ;;
        "internvl_2p5_8b")
            conda activate cvfm4rehab_llava
            model_family="internvl2"
            model_args="pretrained=OpenGVLab/InternVL2_5-8B,modality=video,max_frames_num=8"
            num_processes=$num_processes_pre
            ;;
        "internvl_2p5_38b")
            conda activate cvfm4rehab_llava
            model_family="internvl2"
            model_args="pretrained=OpenGVLab/InternVL2_5-38B,modality=video,max_frames_num=8,device_map=auto"
            num_processes=1
            ;;
        "internvl_2p5_78b")
            conda activate cvfm4rehab_llava
            model_family="internvl2"
            model_args="pretrained=OpenGVLab/InternVL2_5-78B,modality=video,max_frames_num=8,device_map=auto"
            num_processes=1
            ;;
        "longva_7b")
            conda activate cvfm4rehab_longva
            model_family="longva"
            model_args="pretrained=lmms-lab/LongVA-7B,video_decode_backend=decord,conv_template=qwen_1_5,model_name=longva_qwen_7b,max_frames_num=32"
            num_processes=$num_processes_pre
            ;;
        "nvila_8b")
            conda activate cvfm4rehab_vila
            model_family="nvila"
            model_args="pretrained=Efficient-Large-Model/NVILA-8B,video_decode_backend=decord,conv_template=auto,max_frames_num=8"
            num_processes=$num_processes_pre
            ;;
        "nvila_15b")
            conda activate cvfm4rehab_vila
            model_family="nvila"
            model_args="pretrained=Efficient-Large-Model/NVILA-15B,video_decode_backend=decord,conv_template=auto,max_frames_num=8"
            num_processes=1
            ;;
        "naveens_pipeline")
            conda activate cvfm4rehab
            model_family="naveens_fp_pipeline"
            model_args=""
            num_processes=1
            ;;
        "bot_8f")
            conda activate cvfm4rehab
            model_family="bot"
            model_args="video_decode_backend=decord,max_frames_num=8"
            num_processes=1
            ;;
        "bot_32f")
            conda activate cvfm4rehab
            model_family="bot"
            model_args="video_decode_backend=decord,max_frames_num=32"
            num_processes=1
            ;;
        *)
            echo "Unknown model: $model"
            exit -1
            ;;
        esac

        if [ "$launcher" = "python" ]; then
            export LMMS_EVAL_LAUNCHER="python"
            evaluate_script="python \
                "
        elif [ "$launcher" = "accelerate" ]; then
            export LMMS_EVAL_LAUNCHER="accelerate"
            evaluate_script="accelerate launch \
                --num_processes=$num_processes \
                "
        fi

        if [ -n "$user_provided_model_args" ]; then
            all_model_args="$user_provided_model_args"
        else 
            all_model_args="${model_args}${model_task_args}"
        fi

        evaluate_script="$evaluate_script -m lmms_eval \
            --model $model_family \
            --model_args "$all_model_args" \
            --tasks $benchmark \
            --verbosity DEBUG \
            --batch_size 1 \
            --log_samples \
            --output_path "${output_path}/${model}" \
            "
        if [ -n "$wandb_entity" ]; then
            evaluate_script="$evaluate_script \
                --wandb_args "entity=${wandb_entity},project=${wandb_project},name=${task}_${model}" \
                --wandb_log_samples \
            "
        fi

        if [ -n "$limit" ]; then
            evaluate_script="$evaluate_script \
                --limit $limit \
            "
        fi
        echo "Command: "
        echo $evaluate_script
        echo "==================================================================="

        # Record start time
        start_time=$(date +%s)
        
        # Run the evaluation
        eval $evaluate_script
        
        # Record end time and calculate duration
        end_time=$(date +%s)
        duration=$((end_time - start_time))
        
        # Format duration in hours:minutes:seconds
        hours=$((duration / 3600))
        minutes=$(( (duration % 3600) / 60 ))
        seconds=$((duration % 60))

        time_str+="$model,$task | $(printf "%02d:%02d:%02d" "$hours" "$minutes" "$seconds")\n"

    done
done


echo "==================================================================="
echo "Evaluation completed for all models and tasks."
echo "model,task | Time in HH:MM:SS format"
echo "==================================================================="
echo -e "$time_str"
echo "==================================================================="
echo "All evaluations are done. Check the logs for details."
echo "==================================================================="
