accelerate>=0.26.0
av
decord
ffmpeg-python
numpy
opencv-python
pandas
protobuf
torch==2.5.1 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.20.1 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu118
transformers
tqdm